<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:c=""
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/homepage.css}" rel="stylesheet" />
    <title>Home page</title>
</head>
<body>
    <div layout:fragment="content" class="container body-content card">
        <div class="jumbotron">
            <h1>Met Office Weather</h1>
            <p class="lead">For all your weather needs. Enter a location ID below and click enter to see the weather forecast for that location.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form id="messageForm" th:action="@{/weatherInfo}" method="get">
                    <fieldset>
                        <div>
                            <input list="locationList">
                            <datalist id="locationList">
                                <select id="locationSelection" name="locationId">
                                <option th:each="mapScan : ${locationIDHashmap.entrySet()}"
                                        th:text="${mapScan.key}"
                                        th:value="${mapScan.value}">
                                </option>
                                </select>
                            </datalist>
                        </div>
                        <legend>Location: </legend>
                        <button type="submit">Get Weather Data</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div>
        <p class="lead">Location Name : Location ID</p>
    </div>

</div>
</body>
</html>