<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="weatherInfo" type="training.metofficeweather.web.WeatherInfo"-->

    <head>
        <title>Weather Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information</h2>
            <div>
                <p><span th:text="${weatherInfo.siteRep.DV.weatherLocations.name}"></span></p>
            </div>
            <div>
                <p>The temperature at your location is: <span th:text="${weatherInfo.siteRep.DV.weatherLocations.period.get(0).rep.get(0).T}"></span> degrees. </p>
                <p>It feels like: <span th:text="${weatherInfo.siteRep.DV.weatherLocations.period.get(0).rep.get(0).F}"></span> degrees. </p>
                <p>Chances of rain: <span th:text="${weatherInfo.siteRep.DV.weatherLocations.period.get(0).rep.get(0).Pp}"></span> % </p>
            </div>
        </div>
    </body>
</html>